@page "/Keys"
@using OpenLaunch.Models
@using OpenLaunch.Services

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Class="pa-16 ma-2">
                <h3>Instructions</h3>
                <div>Create your API key before start sending requests to the /api/subscribe endpoint.</div>
                <div>The endpoint expects an API key in the header <em>x-api-key</em></div>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Spacing="3">
        <MudItem xs="12" lg="4">
            <CreateApiKeyForm OnApiKeyCreated="RefreshKeys"/>
        </MudItem>
        <MudItem xs="12" lg="8">
            <ApiKeysTable ApiKeys="apiKeys" OnDelete="RemoveKeyAsync"></ApiKeysTable>
        </MudItem>
    </MudGrid>
</MudContainer>
@code {
    [Inject] ApiKeyService ApiKeyService { get; set; }
    private List<ApiKey> apiKeys = new();

    protected override async Task OnInitializedAsync()
    {
        await RefreshKeys(null);
    }

    private async Task RefreshKeys(ApiKey _)
    {
        apiKeys = await ApiKeyService.GetAllKeysAsync();
    }

    private async Task RemoveKeyAsync(ApiKey key)
    {
        await ApiKeyService.DeleteApiKeyAsync(key);
        await RefreshKeys(null);
    }
}